<style>
    body{
        background: #E5FFCC url(http://logocache.com/logos/logo-name/Edit-designstyle-colors-m.png);
        background-size: 360pt;
        background-repeat: no-repeat;
        background-position: right center;
        background-position: right 90px center;
        margin-top: 100px;
        margin-left: 50px;
        font-size: 115%;
        font-family: 'Times New Roman', cursive;
 
        
    }
    h1{
         font-family: 'Londrina Shadow', cursive;
         color: #006E6E;
         font-size: 170%;
    }
</style>

<h1>Current Article</h1>
 
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>