<!DOCTYPE html>
<head>
  <title>Khadija Ibrahim</title>
  <style>
    body {
      text-align: center;
      background: url("http://dash.ga.co/assets/anna-bg.png");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
        
    }
    input[type="submit"] 
    {
      background: orange;
      color: white;
    }
  </style>
</head>
<body>
  <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-prn2/v/t1.0-9/10363726_10202675751029591_6646650496993875767_n.jpg?oh=51c36909e8a665adc283669fc85b833a&oe=558B7FC0&__gda__=1430949699_c14dbe325576192f31c52619f05c73c7">
  <p> I'm Khadija, BI student at the GUC and an owner in BITS PLEASE . Say hello!</p>
  <input type="email" placeholder="Your email">
  <input type="submit">
</body>