<!DOCTYPE html>
<head>
<title>Mai Kany</title>
<style>
body {
  text-align: center;
  background:url("http://i.imgur.com/iyOLFIR.png");
  background-size: cover; 
  background-position: center;
  color: maroon;
  font-family: Georgia;
  margin-top: 30px;
}
p {
 font-size: 22px; 
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
  font-family: Cursive;
}
input[type="submit"] {
 background: Tan;
 color: white;
}
input[type="email"] {
 background:white;
 color: Sienna;
}
img{border-radius: 50%}
</style>
</head>
<body>

<img src="http://i.imgur.com/4E8mUvQ.jpg" WIDTH=300> 
<h1> Mai Kany </h1>
<p>Hi! I'm a Business Informarics student, a BitsPlease owner, music addict, Pink Floyd huge fan and supposedly a soccer player.</p>


</body>