<!DOCTYPE html>
<head>
  <title>Maryam Osama</title>
  <style>
    body {
      text-align: center;
      background:url("http://freetwitterheaders.net/wp-content/uploads/2012/12/Aqua-Simple-Gradient.jpg");
      background-size:2000px;
      background-repeat: no-repeat;
      background-position:center;
      color: white;
      font-family: helvetica;
    }
    p{
      font-size:22px;
    }
    
    
  </style>
</head>
<body>
<img src="http://i.imgur.com/IpdTckL.png"/>
  <h1>Maryam Osama Ahmed</h1>
  <p>Hi! I'm Maryam ,a BI student and owner in BitsPlease! company </p>
<p>Email : maryam.osama06@gmail.com </p>
  
</body>
