<!DOCTYPE html>
<head>
  <title>Rawan Hussein</title>
   <img src="http://i.imgur.com/bNQyn5e.jpg">
  <style>
 
  body{ text-align: center;
  background: black url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSEjvG1CdUZU-TBKt_srxrmr6M80dKAckiTWV1yocUNngLx-e5_2A);
  background-size: 2000px;
  background-repeat: no-repeat;
  
  
  }
  h2{ font-size: 20px}
  input{ border: 0px; padding: 12px;}
  input[type="submit"]{
    background: purple; color: white; font-family:"Times New Roman";}
   img{ border-radius:20% ; opacity: 1; width: 85pt; height: 140pt; border: 2px solid #666699; }
   h1{color: #660066; font-size: 25px}
   div {
      margin: 0 auto;
     margin-top: 40px; 
     border: 1px solid #66FFCC;
   background: radial-gradient(circle,#99FFFF, #CCFFFF);
   background-repeat: no-repeat;
    width: 500px;
    height: 350px;
   border-radius: 10px;
   text-align: center;
   display: block;
   color: #000099;
  font-family: "Arial" 
  
  
  
  }
  div::after {
  content: "";
  background: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSEjvG1CdUZU-TBKt_srxrmr6M80dKAckiTWV1yocUNngLx-e5_2A);
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
  </style>
</head>

<body>
<div>
<h1> Rawan Hussein <br></br> "I'm a Software Engineer, what's YOUR superpower?" </h1>
 <h2>  <br></br>BI student, BitsPlease owner.<br></br>Hobbies: hanging out, working out, then geeking out! <br></br> Email: rawan.abdelhalim2@gmail.com <br></br> </h2>

 </div>
</body> 
