<!DOCTYPe html> 
<head>
<title> Samaa Youssef Sallam </title>
  <style>
  body { 
    text-align : center ; 
    background: url("https://s-media-cache-ak0.pinimg.com/736x/16/45/ff/1645ff4a6a547d62ac7703d98845ada4.jpg");
    background-size: cover; 
    background-position:center; 
    color: black;
    font-family: helvetica; 
    
  }  
  p{
    font-size:20px;
  
  
    }
    input {
      border: 0; 
      padding: 10px;
      font-size: 13px
    
      }
  input[type="submit"] {
    background : Chocolate  ; 
    color:   Bisque ; 
  } 
     img{ border-radius: 1500}
      
     
   </style>
   </head> 
<body>
<img src="http://i.imgur.com/nxhIIBa.jpg"  >

<h1> Samaa Youssef Sallam </h1> 
<p><b> Hey there! I'm Samaa Sallam ,a violin enthusiast,a quotes writer and a business informatics student at the GUC  .</b> </p> 
<input type="email" placeholder=" Please enter your email"> 
<input type="submit"> 
</body>